*{margin:0;padding:0}
body{font-family:Sans-Serif, Arial !important; transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;}
body, html{height:100%;}


.full_box{
    width:100%;
    height:900px;
    background-color:lightgreen;
}
.box{
    width:800px;
    height:800px;
    margin-left:20%;
    border:20px solid #4611b2;
}

.ludu1{
    width:788px;
    margin:0 auto;
    padding-top:5px;


}
.round{
    width:40%;
    height:40%;
    border-radius:50%;
    float:left;
    background-color:#cdaa41;
    margin-top:6.5%;
    margin-left:6.5%
}
.ludu_box{
    width:315px;
    float:left;
    height:315px;
    background-color:blue;

}
.ludu_box2{
    width:315px;
    height:315px;
    float:left;


    background-color:green;
}
.ludu_box1{
    width:157.5px;
    float:left;
    height:315px;



}
.box_blue{
    background-color: #2b97e3;
    border:1px solid black;
    float:left;
    width:50px;
    height:50px;
}
.box_yellow{
    background-color:yellow;
    border:1px solid black;
    float:left;
    width:50px;
    height:50px;
}
.box_green{
    background-color:#34cd28;
    border:1px solid black;
    float:left;
    width:50px;
    height:50px;
}
.ludu2{
    width:788px;
    margin:0 auto;

}
.ludu_box3{
    width:315px;
    height:158px;
    float:left;
}
.box_pink{
    background-color:pink;
    border:1px solid black;
    float:left;
    width:50px;
    height:50px;
}

.pakhi{
    width:157.5px;
    float:left;
    height:158px;
    background-color:yellow;
}

.box_red{
    background-color:#e6323a;
    border:1px solid black;
    float:left;
    width:50px;
    height:50px;
}
.ludu3{
    width:788px;
    margin:0 auto;
}
.ludu_box4{
    width:315px;
    height:158px;
    float:left;

}
.ludu_box5{
    width:315px;
    float:left;
    height:315px;
    background-color:purple;

}
.ludu_box6{
    width:157.5px;
    float:left;
    height:160px;
}
.ludu_box7{
    width:315px;
    height:315px;
    float:left;

    background-color:red;
}

.internal_box1{
    width: 70%;
    height: 70% ;
    margin: 15% auto;
    overflow-y: auto;
    background-color:deeppink;
}

.internal_box2{
    width: 70%;
    height: 70% ;
    margin: 15% auto;
    overflow-y: auto;
    background-color:deeppink;
}

.internal_box3{

    width: 70%;
    height: 70% ;
    margin: 15% auto;
    overflow-y: auto;
    background-color:deeppink;
}

.internal_box4{
    width: 70%;
    height: 70% ;
    margin: 15% auto;
    overflow-y: auto;
    background-color:deeppink;
}

.internal_box5{
    width: 70%;
    height: 70% ;
    margin: 15% auto;
    overflow-y: auto;
    background-color:deeppink;
}
